* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: black;
    font-size: 16px;
}

img{
    display: block;
    width: 100%;
}

/***************** EMPIEZA MI HEADER *****************/
header{
    background-color: white;
    width: 100%;
    padding: 35px 0px;
    box-shadow: 0px 0px 25px 0px rgb(134 134 134 / 25%);
    position: absolute;
    z-index: 1;
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav{
    width: 100%;
    justify-content: center;
    padding-left: 500px;
}

.me{
    display: inline;
}
.naveg{
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px;
    color: black;
}

.contacto{
    color: white;
    background-color: #81B214;
    padding: 9px 25px;
    border-radius: 3rem;
}

.naveg:hover{
    color: #81B214;
}

.contacto:hover{
    background-color: #acd650;
    color: black;
}

/***************** TERMINA MI HEADER *****************/
/***************** EMPIEZA HOLA *****************/
#presentacion{
    background-color: #FFFFFF;
}

.presentacion1{
    width: 80%;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #FFFFFF;
}

#caja1, #caja2{
    width: 600px;
    margin: 50px 0px;
}

#caja1{
    text-align: left;
}

.hola{
    font-size: 30px;
    margin-bottom: 7px;
    font-weight: 800;
    color: black;
}

.nombre{
    font-size: 60px;
    margin-bottom: 7px;
    font-weight: 900;
    color: #81B214;
}

.soy{
    font-size: 16px;
    margin-bottom: 40px;
    word-spacing: 3px;
    color: black;
}

/***************** TERMINA HOLA *****************/
/***************** EMPIEZA MIS CONOCIMIENTOS *****************/
#loquese{
    width: 100%;
    background-color: #1B1B1B;
}

.conocimientos{
    width: 80%;
    margin: 0px auto;
    padding: 6em 0em;
}

.skills{
    margin-top: 30px;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    color: #81B214;
}

.skills2{
    width: 650px;
    max-width: 65%;
    margin: 35px auto;
    color: white;
}

#tecnologias{
    max-width: 60%;
    margin: 4% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.tech{
    width: 230px;
    height: 210px;
    padding: 2%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #242424;
    color: #FFFFFF;
    border: solid 1px #2e2e2e;
    border-radius: 3%;
}

.tecno{
    width: 73px;
    height: 73px;
}

.tecsvg{
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
}

.tech:hover{
    border: solid 2px #acd650;
    color: #81B214;
}

/***************** TERMINA MIS CONOCIMIENTOS *****************/
/***************** EMPIEZA FRASE *****************/

.frase{
    background-color: #81B214;
}

.cita{
    width: 80%;
    max-width: 65%;
    margin: 0px auto;
    padding: 9em 0em;
}

.comillas{
    width: 6%;
    margin: 0 auto;
}

.estereotipos{
    margin-top: 45px;
    font-weight: 800;
    font-size: 35px;
    color: rgb(17, 17, 17);
}

.cris{
    margin-top: 45px;
    font-weight: 600;
    font-size: 30px;
    color: rgb(17, 17, 17);
}
/***************** TERMINA FRASE *****************/
/***************** EMPIEZA PROYECTOS *****************/

#proyectos{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 85px 0px;
    background-color: #FFFFFF;
}

.proyect1{
    width: 100%;
    margin: 0px auto;
    padding: 6em 0em;
    background-color: #FFFFFF;
}

.fotosproy{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 0%;
    margin: 1% auto;
    margin-bottom: 0%;
}

.proy{
    width: 265px;
    height: 265px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin-top: 3%;
    text-decoration: none;
    color: black;
    border: solid 1px #dadada;
    border-radius: 3%;
}

#porta{
    width: 100%;
    padding: 25px 0px 0px 0px;
}

.port{
    width: 100%;
    padding-top: 50px;
}

.skills3{
    width: 650px;
    max-width: 65%;
    margin: 35px auto;
    color: black;
}

.proy:hover{
    border: solid 2px #acd650;
    color: #658b11;
}
/***************** TERMINA PROYECTOS *****************/
/***************** EMPIEZA CONTACTAME *****************/
#contactame{
    width: 100%;
    background-color: #1B1B1B;
}

.contact{
    width: 65%;
    margin: 200px auto;
    padding: 45px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #242424;
    border-radius: 50px;
}

.conteiner-contac{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.skills4{
    width: 700px;
    max-width: 60%;
    margin: 45px 0px;
    color: white;
}

.text-left{
    text-align: left;
}

.lista-contacto{
    font-size: 18px;
    line-height: 50px;
    list-style: none;
}

.link-icono{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.rs-icono{
    margin: 0px 20px 0px 30px;
    padding: 13px;
    color: #81B214;
}

.link-icono:hover{
    color: #81B214;
}

.link-icono:hover .rs-icono{
    padding: 13px;
    background-color: #81B214;
    border-radius: 100px;
    color: #242424;
}

.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 600;
}

.name-ape{
    width: 100%;
    display: flex;
}

.name{
    width: 100%;
}

.apellido{
    width: 100%;
    margin-left: 20px;
}

.column-form{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

.space{
    margin-bottom: 20px;
}

.marg-bot{
    margin-bottom: 45px;
}

#nombre, #apellido, #email{
    height: 30px;
}

#nombre, #apellido, #email, #comentario{
    width: 100%;
    border-radius: 15px;
    border-style: none;
}

.boton{
    padding: 9px 25px;
    margin-top: 20px;
    color: white;
    background-color: #81B214;
    border-radius: 3rem;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-style: none;
}

.boton:hover{
    background-color: #acd650;
    color: #242424;
}

/***************** TERMINA CONTACTAME *****************/
/***************** EMPIEZA FOOTER *****************/

footer{
    background-color: #81B214;
}

.lista-footer{
    width: 100%;
    margin: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    list-style: none;
    font-weight: 400;
}

.li-hov{
    text-decoration: none;
    padding: 20px;
    color: #1B1B1B;
    font-weight: 400;
}

.li-hov:hover{
    color: #1B1B1B;
}

.list-icon-foot{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.icon-footer{
    font-size: 25px;
    margin: 0px 25px;
    padding: 10px;
    border-radius: 100px;
    background-color: #1B1B1B;
    color: #81B214;
}

.amor{
    font-size: 17px;
    margin: 35px 0px;
    color: #1B1B1B;
}

/***************** TERMINA FOOTER *****************/