* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #616161;
    font-size: 16px;
}

img{
    width: 90%;
}

/***************** EMPIEZA MI HEADER *****************/
header{
    background-color: white;
    width: 100%;
    padding: 35px 0px;
    box-shadow: 0px 0px 25px 0px rgb(134 134 134 / 25%);
    position: absolute;
    z-index: 1;
    position: fixed; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav{
    width: 100%;
    justify-content: center;
    padding-left: 500px;
}

li{
    display: inline;
}
.naveg{
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px;
    color: #616161;
}

.contacto{
    color: white;
    background-color: #81B214;
    padding: 9px 25px;
    border-radius: 3rem;
}

.naveg:hover{
    color: #81B214;
}

.contacto:hover{
    background-color: #acd650;
    color: #616161;
}

/***************** TERMINA MI HEADER *****************/
/***************** EMPIEZA HOLA *****************/
.presentacion1{
    width: 80%;
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#caja1, #caja2{
    width: 600px;
    margin: 50px 0px;
}

#caja1{
    text-align: left;
}

.hola{
    font-size: 30px;
    color: black;
    margin-bottom: 7px;
    font-weight: 800;
}

.nombre{
    font-size: 60px;
    margin-bottom: 7px;
    font-weight: 900;
    color: #81B214;
}

.soy{
    font-size: 16px;
    margin-bottom: 40px;
    word-spacing: 3px;
}

/***************** TERMINA HOLA *****************/
/***************** EMPIEZA MIS CONOCIMIENTOS *****************/
#loquese{
    width: 100%;
    background-color: #E9F1D5;
}

.conocimientos{
    width: 80%;
    margin: 0px auto;
    padding: 9em 0em;
}

.skills{
    font-size: 45px;
    font-weight: 900;
    color: black;
}

.skills2{
    width: 650px;
    max-width: 65%;
    margin: 35px auto;
}

#tecnologias{
    max-width: 65%;
    margin: 4% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.tech{
    width: 250px;
    height: 230px;
    padding: 2%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: black;
    border-radius: 3%;
}

.tecno{
    width: 75px;
    height: 75px;
}

.tecsvg{
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
}

.tech:hover{
    border: solid 2px #F58634;
    background-color: #FFFFFF;
    color: #F58634;
}

/***************** TERMINA MIS CONOCIMIENTOS *****************/
/***************** EMPIEZA FRASE *****************/

.frase{
    background-color: burlywood;
}

/***************** TERMINA FRASE *****************/

.proyectos{
    background-color: coral;
}

.contactame{
    background-color: darkgray;
}

footer{
    background-color: darksalmon;
}