*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
    color: #263238;
}

#proceso{
    width: 77%;
    margin: 5px auto;
}

img{
    width: 100%;
    margin: 0px auto;
}

.process{
    width: 100%; 
    margin: 5px auto;
}

a{
    margin-top: 0px;
}

a:hover{
    color: #81B216;
}